@import url('https://fonts.googleapis.com/css2?family=Inter:wght@250&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(224, 223, 223);
    font-family: 'Inter', sans-serif;
}

h1{
    color: #000f64;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.logo{
    margin-top: 30px;
    font-size: 2.3em;
}

/* Formatação de imagens */
.topo{
    width: 40%;
    margin: 30px;
    border: 1px solid rgb(0, 124, 173);
}
.topico{
    width: 40%;
    margin-top: 50px;
}
figure{
    text-align: center;
}
img{
    border-radius: 20px;
}

.box{
    border: 3px rgb(0, 19, 102) solid;
    height: 80%;
    width: 80%;
    background-color: rgb(136, 199, 218);
    border-radius: 5px;
    margin: auto;    
    margin-top: 10px;
    padding: 5px;
}
.box > p{
    font-size: 1.5em;
    justify-content: justify;
    padding: 5px;
    line-height: 32px;
}
b{
    font-weight: bold;
}
footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(0, 19, 102);
    margin-top: 22%;
}

footer p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #eee;
}
.subt{
    margin-top: 50px;
    font-size: 2.5em;
}

.itens_menu ul{
    text-align: center;
}
.itens_menu ul li{
    display: inline;
}
.itens_menu ul li a:last-child{
    background-color: #59ec6d;
    color: black;
}
.itens_menu ul li a:link, .itens_menu ul li a:visited{
    color: #eee;
    background-color: #000f64;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.itens_menu ul li a:hover{
    background-color: #283caf;
    transition-duration: .4s;
}

.container{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 80%;
}
.parag{
    text-align: justify;
    padding: 5px;
    margin-top: 30px;
    font-size: 1.4em;
    line-height: 32px;
    text-indent: 25px;
}
hr{
    color: black;
}
li{
    font-size: 1.4em;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 10px ridge #8B4513; 
    padding-top: 1% ;   
    padding-bottom: 1%;
}
audio{
    margin: 10px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #a0276e;
  color: #a0276e;
}

input[type=text], input[type=email],input[type=tel],input[type=date], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
select{
    width: 97.8%;
    margin-bottom: 15px;
}
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #000f64;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*Reorganiza as colunas se a tela tiver menos de 600 pixels de largura*/
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }