html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(224, 223, 223);
}
h1{
    color: #000f64;
    text-align: center;
    font-size: 2em;
}
.logo{
    font-size: 2.8em;
}

.box{
    border: 3px rgb(0, 19, 102) solid;
    height: 80%;
    width: 80%;
    background-color: rgb(136, 199, 218);
    border-radius: 5px;
    margin: auto;    
    margin-top: 10px;
    padding: 5px;
}
.box > p{
    font-size: 1.8em;
    justify-content: justify;
    padding: 5px;
    line-height: 32px;
}
figure{
    text-align: center;
    margin-top: 50px;
}
img{
    width: 30%;
    border-radius: 10px;
}
b{
    font-weight: bold;
}
footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(202, 202, 202);
    margin-top: 50px;
}

footer p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.parag{
    text-align: center;
    margin-top: 30px;
    font-size: 1.4em;
}
.subt{
    margin-top: 50px;
    font-size: 2.5em;
}
a{
    color: #eee;
    text-decoration: none;
}
.parag a:link, .parag a:visited{
    background-color: #000f64;
    padding: 15px;
}
.parag a:hover{
    background-color: #283caf;
    transition-duration: .4s;
}
.container{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 80%;
}
.container > p{
    justify-content: justify;
    padding: 5px;
    line-height: 32px;
}